<div class="container my-4">
<h1>Create New Gallery</h1>
</div>
<%= render 'form', galery: @galery %>


<div class="container">
<%= link_to 'Back', root_path,class:"btn btn-outline-secondary btn-sm" %>
</div>
